<div class="max-w-6xl pt-28 mx-auto">
    <div class="grid grid-cols-12 mx-auto">
        <div class="col-span-12 sm:col-span-6 mx-auto w-full sm:w-auto" data-aos-duration="700" data-aos="fade-right">
            <div>
                <img src="assets/images/img-ppal1.jpg" class="sm:h-[650px] w-full " alt="">
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 mx-auto my-5" data-aos-duration="700" data-aos="fade-left">
            <div class="grid grid-cols-12 mx-5">
                <div class="col-span-8 w-full">
                    <h1 class="text-primary text-4xl md:text-5xl">Brigadeiros de <span
                            class="font-extrabold">Oreo</span> y <span class="font-extrabold">Lincoln</span></h1>
                </div>
                <div class="col-span-4 w-full relative top-0">
                    <img src="assets/images/pack2.png"
                        class="h-[148px] w-[111px] sm:w-[116px] sm:h-[180px] mx-5 mt-5 absolute top-0" alt="">
                </div>
            </div>
            <div class="mt-12 lg:mt-32">
                <div class="col-span-12 my-5 w-2/3 mx-5">
                    <h1 class="text-secondary font-extrabold my-2">Ingredientes</h1>
                    <ul class="list-disc mx-5 text-gray-600" >
                        <li *ngFor="let i of ingredientes">1 paquete de Oreo por 118 g.</li>
                        <li>1 paquete de Oreo por 118 g.</li>
                        <li>1 paquete de Oreo por 118 g.</li>    
                        {{ingredientes}}                   
                    </ul>
                </div>
                <div class="col-span-12 my-5 mx-5">
                    <h1 class="text-secondary font-extrabold my-2">Preparación</h1>
                    <ul class="list-disc mx-5 text-gray-600">
                        <li class="mb-3">Poner en una cacerola le leche condensada con el chocolate picado y la manteca.
                        </li>
                        <li class="mb-3">Poner en una cacerola le leche condensada con el chocolate picado y la manteca.
                        </li>
                        <li class="mb-3">Poner en una cacerola le leche condensada con el chocolate picado y la manteca.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-span-12 mt-8 mb-6 w-full text-center" data-aos="zoom-in">
            <button (click)="home()" class="p-5 mx-auto rounded-full bg-primary hover:bg-secondary text-white font-extrabold w-40">Continuar</button>
        </div>
    </div>
</div>