<div class="max-w-6xl pt-28 mx-auto" *ngFor="let r of receta">
    <div class="grid grid-cols-12 mx-auto">
        <div class="col-span-12 sm:col-span-6 mx-auto w-full sm:w-auto self-center" data-aos-duration="700"
            data-aos="fade-right">
            <div>
                <img [src]="'assets/images/'+r.imgReceta+'.jpg'" class="sm:h-[650px] w-full rounded-xl" alt="">
            </div>

        </div>
        <div class="col-span-12 sm:col-span-6 mx-auto my-5" data-aos-duration="700" data-aos="fade-left">
            <div class="grid grid-cols-12 mx-5">
                <div class="col-span-8 w-full">
                    <h1 class="text-primary text-4xl lg:text-5xl">{{r.titulo.text1}} <span
                            class="font-extrabold">{{r.titulo.marca1}}</span> {{r.titulo.text2}} <span class="font-extrabold">{{r.titulo.marca2}}</span></h1>
                </div>
                <div class="col-span-4 w-full relative top-5">
                    <img [src]="'assets/images/'+r.flotante2"
                        class="h-[148px] w-[111px] sm:w-[116px] sm:h-[180px] mx-5 mt-5 absolute top-0" alt="">
                </div>
            </div>
            <div class="mt-12 lg:mt-24">
                <div class="col-span-12 my-5 w-2/3 mx-5">
                    <h1 class="text-secondary font-extrabold my-2">Ingredientes</h1>
                    <ul class="list-disc mx-5 text-gray-600">
                        <li *ngFor="let p of r.ingredientes.propios"><span class="font-extrabold">{{p.producto}}</span>
                            {{p.cantidad}}</li>
                        <li *ngFor="let n of r.ingredientes.noPropios">{{n.cantidad}} {{n.producto}}</li>
                    </ul>
                </div>
                <div class="col-span-12 my-5 mx-5" *ngIf="r.preparacion">
                    <h1 class="text-secondary font-extrabold my-2">Preparación</h1>
                    <ul class="list-disc mx-5 text-gray-600">
                        <li class="mb-3" *ngFor="let p of r.preparacion">{{p.paso}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-span-12 mt-8 mb-6 w-full text-center" data-aos="zoom-in">
            <button (click)="home()"
                class="p-5 mx-auto rounded-full bg-primary hover:bg-secondary text-white font-extrabold w-40">Continuar</button>
        </div>
    </div>
</div>