<nav class="h-16 bg-optional flex flex-col" >
    <div class="max-w-md pt-7 mx-10 self-center" >
        <div class="grid grid-cols-12 mx-auto w-full justify-items-center my-4 gap-x-5" >
            <div class="col-span-4">
                <img src="assets/img/logo-milka.png" alt="" >
            </div>
            <div class="col-span-4">
                <img src="assets/img/logo-terrabusi.png" alt="" >
            </div>
            <div class="col-span-4">
                <img src="assets/img/logo-royal.png" alt="" >
            </div>
        </div>
        
    </div>
</nav>