<nav class="h-16 bg-optional flex flex-col z-50 w-full relative top-0">
    <img src="assets/images/bg-home-removebg.png" alt="" class="absolute top-10 object-cover md:object-fill md:w-full h-24 mx-auto">
    <div class="pt-5 self-center inline-flex w-full">
        <div class="flex md:max-w-2xl place-content-center mx-auto w-full my-4 md:gap-x-10">
            <div class=" z-50 place-self-center h-16 mx-3" *ngFor="let m of marcaPrincipal">
                <a [href]="'detalle/'+m.slug" class="h-full">
                    <img [src]="'assets/images/'+m.logo" alt="" class="h-14 object-contain hover:h-16 hover:mt-0">
                </a>
            </div>
            <!-- <div class=" z-50 place-self-center h-16 mx-3">
                <div class="h-full w-full">
                    <h1 class="text-white">Más recetas</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto icon icon-tabler icon-tabler-caret-down" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M18 15l-6 -6l-6 6h12" transform="rotate(180 12 12)" />
                      </svg>
                </div>
            </div> -->
            <!-- <a [href]="'detalle/'+m.slug" class="h-full">
                <img [src]="'assets/images/'+m.logo" alt="" class="h-14 object-contain hover:h-16 hover:mt-0">
            </a> -->
            <!-- <div class="md:hidden visible z-50 place-self-center mx-auto">
                <a [href]="'home'">
                    <img src="assets/images/logo.png" alt="" class="h-14">
                </a>
            </div> -->
        </div>
        <div class="absolute self-center right-5 top-10 w-10 h-10 flex place-content-center">
            <button data-collapse-toggle="navbar-hamburger" mat-button (click)="openMenu()" type="button"
                data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
                aria-controls="drawer-navigation">
                <svg class="w-7 h-7 fill-white hover:w-8 hover:h-8" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </div>
</nav>