<nav class="h-16 bg-optional flex flex-col">
    <div class="md:max-w-md max-w-xs pt-7 mx-10 self-center inline-flex">
        <div>
            <div class="grid grid-cols-12 mx-auto w-full justify-items-center my-4 gap-x-5">
                <div class="col-span-4 z-50">
                    <a [href]="'detalle/Milka'">
                        <img src="assets/img/logo-milka.png" alt="" class="h-full">
                    </a>
                </div>
                <div class="col-span-4 z-50">
                    <a [href]="'detalle/Oreo'">
                        <img src="assets/img/logo-oreo.png" alt="">
                    </a>
                </div>
                <div class="col-span-4 z-50">
                    <a [href]="'detalle/Royal'">
                        <img src="assets/img/logo-royal.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="absolute self-center right-3 top-14">
            <button data-collapse-toggle="navbar-hamburger" (click)="openMenu()" type="button" data-drawer-target="drawer-navigation"
                data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
                <svg class="w-6 h-6 fill-white" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </div>
</nav>
