<div class="max-w-6xl pt-28 mx-auto">
    <div class="grid grid-cols-12 gap-x-5">
        <div class="col-span-4">
            <div class="h-20 border bg-primary rounded-tl-2xl rounded-tr-2xl">
                <div class="flex justify-center items-center h-full text-white w-1/2 mx-auto text-center">
                    <h1>Brigadeiros de <span class="font-extrabold">Oreo</span> y <span
                            class="font-extrabold">Lincoln</span> </h1>
                </div>
                <div class="relative top-0 left-0 z-10 block h-[500px] w-full">
                    <img class="object-fill h-[500px] w-auto" src="assets/img/img-ppal1.jpg" alt="">
                    <div class="absolute grid grid-cols-12 gap-x-2 z-20 bottom-0 left-0 w-full">
                        <div class="col-span-4 rounded-tl-2xl h-10 rounded-tr-2xl bg-secondary flex justify-center items-center text-white w-full
                        mx-auto text-center">
                            <h1 class="text-xs">Ingredientes</h1>
                        </div>
                        <div class="col-span-4 rounded-tl-2xl h-10 rounded-tr-2xl bg-primary flex justify-center items-center text-white w-full
                        mx-auto text-center">
                            <h1 class="text-xs">Preparación</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>