<app-header></app-header>
<section class="min-h-[calc(100%-208px)] pb-5 flex flex-col items-center">
    <div class="max-w-4xl pt-20">
        <img src="assets/img/mezcla.png" alt="" data-aos="fade-down-right">
    </div>
    <!-- <div class="max-w-2xl">
        <img src="assets/img/text.png" alt="">
    </div> -->
    <div class="max-w-2xl text-center mx-5 sm:mx-auto">
        <h1 class="text-2xl text-primary mb-8">Te invitamos a mezclar los productos de nuestras marcas <span
                class="font-black text-2xl">Oreo,
                Mantecol, Milka, Terrabusi,</span> y <span>Royal</span> para preparar increíbles recetas de una manera
            fácil y rápida.</h1>
        <h1 class="text-2xl text-primary">Hacé click sobre cada imágen para conocer los ingredientes y las
            indicaciones... ¡Ponete tu delantal y a sorprender! Llegó la hora... "Mezclá y disfrutá"
        </h1>
    </div>
    <div class="max-w-2xl p-7">
        <img src="assets/img/divide.png" alt="">
    </div>
    <h1 class="text-2xl text-gray-500">Elegí recetas con:</h1>
</section>
<app-footer></app-footer>