@media (min-width: 1920px) {
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

@media (min-width: 1920px) {
  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white-space, transparent);
    z-index: 49;
  }
}

section img {
  position: fixed;
  pointer-events: none;
}


// section div{
//     position: absolute;
//     pointer-events: none;
// }

