<!-- <div class="max-w-4xl mt-10 mx-auto" data-aos="zoom-in-up" data-aos-mirror="true" style="text-align: -webkit-center;">
    <div class="py-5 w-full">
        <img src="assets/images/galletitea.jpeg" alt="" class="w-full h-80 object-cover rounded-b-3xl">
    </div>
    <div class="max-w-2xl mx-5 sm:mx-auto">
        <h1 class="text-2xl text-primary mb-8">Te invitamos a mezclar los productos de nuestras marcas <span
                class="font-black text-2xl"><b>Oreo</b>, <b>Milka</b>, <b>Terrabusi</b></span> y
            <span><b>Royal</b></span> para preparar increíbles
            recetas
            de una
            manera
            fácil y rápida.
        </h1>
        <h1 class="text-2xl text-primary">Hacé click sobre cada imágen para conocer los ingredientes y las
            indicaciones... ¡Ponete tu delantal y a sorprender! Llegó la hora... "Mezclá y disfrutá"
        </h1>
    </div>
    <div class="p-7 mx-5 sm:mx-auto">
        <img src="assets/images/divide.png" alt="">
    </div>
    <div class="p-7 mx-5 sm:mx-auto">
        <h1 class="text-2xl text-gray-500">Elegí recetas con:</h1>
    </div>
    <div class="grid grid-cols-12 mx-auto w-full justify-items-center my-4 gap-y-5">
        <div class="col-span-12" *ngFor="let m of marca" data-aos="zoom-in-up">
            <a [href]="'detalle/'+m.slug">
                <img [src]="'assets/images/'+m.logo" class="h-20 w-52 object-contain" alt="">
            </a>
        </div>
    </div>
</div> -->

<section class="mt-14 bg-[url('assets/home/fondo2.png')] bg-fixed bg-center bg-cover bg-no-repeat" id="section">
    <div class="h-[1000px] w-full block"></div>
    <img src="assets/home/oreo.png" id="oreo" class="w-48 h-auto top-0 left-[450px] translate-y-[-11rem]">
    <img src="assets/home/condimento.png" id="condimento"
        class="w-80 h-auto right-[35%] top-0 translate-y-[-8rem] mix-blend-normal">
    <img src="assets/home/platoTorta.png" id="platoTorta"
        class="w-72 h-auto top-0 right-0 translate-y-[-10rem] mix-blend-normal">
    <img src="assets/home/frutosSecos.png" id="frutosSecos"
        class="w-72 h-auto left-0 bottom-80 translate-x-[-9rem] mix-blend-normal">
    <img src="assets/home/chocoBarra.png" id="chocoBarra" class="w-44 h-auto right-0 top-96 translate-x-44">
    <img src="assets/home/platoGalletas.png" id="platoGalletas"
        class="w-[450px] z-0 h-auto bottom-0 left-0 translate-y-[19rem]">
    <img src="assets/home/lincoln.png" id="lincoln" class="w-80 h-auto bottom-0 z-30 translate-y-48 left-[490px]">
    <img src="assets/home/cuchara.png" id="cuchara" class="w-[650px] z-10 bottom-0 h-auto translate-y-48">
    <div class="h-[70vh]"></div>
    <div class="max-w-4xl p-20 text-center rounded-2xl z-50 mx-auto bg-[#ebebec] absolute bottom-60 left-0 right-0" data-aos-duration="1000" data-aos="fade-up"
    data-aos-anchor-placement="center-bottom">
        <div class="mx-5 sm:mx-auto">
            <h1 class="text-2xl text-primary mb-8">Te invitamos a mezclar los productos de nuestras marcas <span
                    class="font-black text-2xl"><b>Oreo</b>, <b>Milka</b>, <b>Terrabusi</b></span> y
                <span><b>Royal</b></span> para preparar increíbles
                recetas
                de una
                manera
                fácil y rápida.
            </h1>
            <h1 class="text-2xl text-primary">Hacé click sobre cada imágen para conocer los ingredientes y las
                indicaciones... ¡Ponete tu delantal y a sorprender! Llegó la hora... "Mezclá y disfrutá"
            </h1>
        </div>
        <!-- <div class="p-7 mx-5 sm:mx-auto">
            <img src="assets/images/divide.png" alt="">
        </div> -->
        <div class="p-7 mx-5 sm:mx-auto">
            <h1 class="text-2xl text-gray-500">Elegí recetas con:</h1>
        </div>
        <!-- <div class="grid grid-cols-12 mx-auto w-full justify-items-center my-4 gap-y-16">
                <div class="col-span-12" *ngFor="let m of marca">
                    <a [href]="'detalle/'+m.slug">
                        <img [src]="'assets/images/'+m.logo" class="h-20 w-52 object-contain" alt="">
                    </a>
                </div>
            </div> -->
    </div>
</section>