<ng-container *ngIf="load; else loader">
    <ng-container *ngIf="receta; else noData">
        <div class="max-w-7xl sm:pt-16 md:pt-28 mx-auto" *ngFor="let r of receta">
            <div class="grid grid-cols-12 mx-auto">
                <div class="col-span-12 sm:col-span-6 mx-auto w-full sm:w-auto self-start my-5" data-aos-duration="700"
                    data-aos="fade-right">
                    <div class="sm:h-[750px] w-full rounded-xl overflow-hidden relative top-0 left-0 shadow-xl">
                        <img [src]="r.imgReceta?.length ? 'assets/images/' + r.imgReceta + '.jpg' : 'assets/images/default.svg'"
                            class="rounded-xl object-center object-cover hover:hidden h-full w-full mx-auto" alt=""
                            onmouseleave="document.getElementById('videoPlayer').play()">
                        <video [muted]="'muted'" *ngIf="r.imgReceta"
                            class="hover:scale-[1.15] ease-in-out duration-1000 object-cover object-center w-full h-full bg-center absolute top-0 bottom-0 opacity-0 hover:opacity-100"
                            preload="auto" loop id="videoPlayer" onmouseleave="pause()" onmouseover="play()"
                            [src]="'assets/images/' + r.videoReceta" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-6 mx-auto mt-5" data-aos-duration="700" data-aos="fade-left">
                    <div class="grid grid-cols-12 mx-5 md:mb-12">
                        <div class="col-span-12 w-full text-center">
                            <h1 class="text-primary text-4xl lg:text-5xl">{{r.titulo.text1}} <span
                                    class="font-extrabold">{{r.titulo.marca1}}</span></h1>
                            <div class="w-full my-1" *ngIf="r.titulo.text2">
                                <img src="assets/images/divide-title.png" alt="" class="w-1/3 mx-auto">
                            </div>
                            <h1 class="text-primary text-xl lg:text-2xl">{{r.titulo.text2}} <span
                                    class="font-extrabold">{{r.titulo.marca2}}</span>
                            </h1>
                        </div>
                        <!-- ! OPCION 1 -->
                        <div
                            class="lg:hidden col-span-12 w-full mx-auto space-x-4 justify-items-center mt-6 inline-flex place-content-center">
                            <div *ngFor="let m of r.imagenes.marca">
                                <img [src]="'assets/images/' + m.imagen" alt="" class="h-14 w-auto mx-auto object-contain">
                            </div>
                        </div>

                        <!-- !OPCION DESCARTADA 
                            <div class="col-span-4 w-full relative top-5">
                            <img [src]="'assets/images/'+r.flotante2"
                                class="h-[148px] w-[111px] sm:w-[116px] sm:h-[180px] mx-5 mt-5 absolute top-0 object-contain"
                                alt="">
                        </div> -->
                    </div>
                    <div class="col-span-12 my-5 mx-5">
                        <div class="grid grid-cols-12 mx-auto">
                            <div class="md:col-span-7 col-span-10">
                                <h1 class="text-secondary font-extrabold my-2 text-2xl">INGREDIENTES</h1>
                                <ul class="list-disc mx-5 text-gray-600">
                                    <li *ngFor="let p of r.ingredientes.propios"><span
                                            class="font-extrabold text-xl text-secondary">{{p.producto}}
                                            {{p.cantidad}}</span>
                                    </li>
                                    <li *ngFor="let n of r.ingredientes.noPropios">{{n.cantidad}} {{n.producto}}</li>
                                </ul>
                            </div>
                            <div class="lg:hidden col-span-2 mt-3 mb-5 self-center">
                                <swiper #swiper [config]="config">
                                    <ng-template swiperSlide *ngFor="let p of r.imagenes.producto">
                                        <img [src]="'assets/images/'+p.imagen" alt="" class="w-auto mx-auto h-14">
                                    </ng-template>
                                </swiper>
                            </div>
                            <div class="col-span-5 hidden lg:block">
                                <div class="grid grid-cols-12">
                                    <div
                                        class="col-span-12 w-full space-x-4 justify-items-center inline-flex place-content-center">
                                        <div *ngFor="let m of r.imagenes.marca">
                                            <img [src]="'assets/images/' + m.imagen" alt="" class="w-full h-full object-contain">
                                        </div>
                                    </div>
                                    <div class="col-span-12 mt-3 mb-5 ">
                                        <swiper #swiper [config]="config">
                                            <ng-template swiperSlide *ngFor="let p of r.imagenes.producto">
                                                <img [src]="'assets/images/'+p.imagen" alt=""
                                                    class="w-full object-contain mx-auto h-14">
                                            </ng-template>
                                        </swiper>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="w-full my-3" *ngIf="r.preparacion">
                            <img src="assets/images/divide.png" alt="" class="mx-auto">
                        </div> -->
                    <div class="col-span-12 my-5 mx-5" *ngIf="r.preparacion">
                        <h1 class="text-secondary font-extrabold my-2 text-2xl">PREPARACIÓN</h1>
                        <ul class="list-disc mx-5 text-gray-600">
                            <li class="mb-3" *ngFor="let p of r.preparacion">{{p.descripcion}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-12 mt-8 mb-6 w-full text-center" data-aos="zoom-in">
                    <button (click)="back()"
                        class="p-5 mx-auto rounded-full bg-primary hover:bg-secondary text-white font-extrabold w-40">Continuar</button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<ng-template #loader>
    <app-skeleton-receta></app-skeleton-receta>
</ng-template>

<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>