<footer class="w-full bg-third p-12">
    <div class="grid grid-cols-12 max-w-6xl mx-auto items-center place-items-center ">
        <div class="col-span-12 sm:col-span-6 sm:justify-self-start">
            <a href="https://www.mezclaydisfruta.com.ar/images/logo-MDLZ-SMR-white.png" target="_blank">
                <img src="assets/img/logo.png" alt="" class="h-12 flex flex-col">
            </a>
        </div>
        <div class="col-span-12 sm:col-span-6 sm:justify-self-end">
            <ul class="flex flex-wrap text-sm text-white mt-3">
                <li>
                    <a href="#" class="pl-2 pr-2 hover:underline text-sm">Términos y Condiciones</a>
                </li>
                <li>
                    <p class="pl-2 pr-2 hover:underline text-sm text-gray-500">|</p>
                </li>
                <li>
                    <a href="#" class="pl-2 pr-2 hover:underline text-sm">Legales</a>
                </li>
            </ul>
        </div>
    </div>
</footer>